# Игнорировать временные файлы компилятора
*.o
*.out
*.exe
*.obj
*.a
*.lib
*.dll

# Игнорировать каталоги сборки
build/
bin/
debug/
release/

# Игнорировать файлы, генерируемые IDE
.vscode/
.idea/

# Игнорировать операционные системы и редакторы
.DS_Store
Thumbs.db

# Игнорировать файлы для некоторых компиляторов
*.idb
*.pdb
*.stackdump
